body {font-family:'Times New Roman', Times, serif}
h1, h2 {color:blueviolet}
.evenrow {background-color:mistyrose;}
h1 {font-size:2em;}
h2 {font-size:1.75em;}

body {
    background-color: #e3c0ed;
}
p {
    background-color: #ffffff;
    padding: 20px;
    margin: 50px;
    border: solid #1d0524;
}
a:link {
    color: #000000;
}
a:hover {
   background-color:  #ffffff ;
}